---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import User from "../icons/User.astro";
import ExperienceIcon from "../icons/ExperienceIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import About from "../components/About.astro";
---

<Layout
	title="Portfolio de Julian Re - Desarrollador y Programador Web con mas de 1 año de experiencia"
	description="Contrata a Julian Re para crear tu aplicación web. Desarrollador y Programador web. Especializado en crear aplicaciones únicas."
>
	<main>
		<!-- HERO SECTION -->
		<SectionContainer id="home" class="pt-44 pb-24">
			<Hero/>
		</SectionContainer>

		<!-- EXPERIENCE SECTION -->
		<SectionContainer id="experience">
			<h2
				class="text-3xl font-semibold mb-6 flex flex-row items-center gap-x-2"
			>
				<ExperienceIcon class="size-7" />Work Experience
			</h2>
			<Experience />
		</SectionContainer>

		<!-- ABOUT ME SECTION -->
		<SectionContainer id="about" class="pt-24">
			<h2
				class="text-3xl font-semibold mb-6 flex flex-row items-center gap-x-2"
			>
				<User class="size-8"/>About Me 
			</h2>
			<About/>
		</SectionContainer>
	</main>
</Layout>
