---
import Layout from "../layouts/Layout.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
---

<Layout
	title="Portfolio de Julian Re - Desarrollador y Programador Web con mas de 1 año de experiencia"
	description="Contrata a Julian Re para crear tu aplicación web. Desarrollador y Programador web. Especializado en crear aplicaciones únicas."
>
	<main>
		<section class="md:w-[740px] w-full mx-auto py-44">
			<img
				class="rounded-full size-12 mb-4"
				src="https://avatars.githubusercontent.com/u/1561955?v=4"
				alt="Julian photo"
			/>
			<h1 class="text-white text-5xl font-bold pb-4">Hey, I'm Julian</h1>
			<h2 class="text-2xl opacity-80 text-wrap">
				+1 year of experience as a <span class="text-yellow-200	">Fullstack Web Developer</span>. Based in San
				Nicolas, Argentina. Specialized in best practices and
				exceptional user experiences.
			</h2>
			<ul class="flex flex-row gap-x-4 mt-4">
				<li>
					<a target="_blank" href="https://www.linkedin.com/in/j-re"
						><LinkedIn class="size-6 text-white" /></a
					>
				</li>
				<li>
					<a target="_blank" href="https://www.github.com/rejulian"
						><GitHub class="size-6 text-white" /></a
					>
				</li>
			</ul>
		</section>
	</main>
</Layout>
