<div
    class="md:flex-row md:items-start md:gap-x-3 flex flex-col-reverse items-center gap-y-3"
>
    <div class="flex flex-col gap-y-8">
        <p>
            My name is Julian but my friends called me Tuko. I am a passionate <span
                class="text-yellow-200">web developer</span
            > with more than one year of experience, focused on creating <strong
                class="text-yellow-200">exceptional applications</strong
            >
            using React, Node, and Express.
        </p>

        <p>
            My goal is to turn your ideas into digital reality, providing
            <span class="text-yellow-200">cutting-edge solutions</span> and an extraordinary user experience.
        </p>
    </div>
    <img
        class="md:size-80 size-72 rounded-md"
        src="https://res.cloudinary.com/dhgepdfdf/image/upload/v1709499052/Julian_PC_uzr6ph.jpg"
        alt=""
    />
</div>
