---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "January 2023 - February 2024",
    title: "Fullstack Developer",
    company: "SQLData",
    description:
      "I led the creation of complete systems for supermarkets and auto workshops. My overall approach helped implement effective solutions customized for the specific needs of each sector, improving processes and ennhancing system functionality",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "August 2023",
    title: "Ecommerce Fullstack Developer",
    company: "ImportadosBeauty",
    description:
      "Ecommerce platform for a perfume company. I contributed to the success of the project by creating an efficient and appealing platform, optimizing the online shopping experience for customers.",
  },
  {
    date: "October 2022 - November 2022",
    title: "Frontend Developer",
    company: "Maqor",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>