<footer
    class=" md:w-[740px] md:border-t-2 md:border-zinc-600/90 h-16 mt-10 flex flex-row items-center justify-between w-full mx-auto text-sm text-zinc-200/90"
>
    <p class="">© 2024 Julian Re. All rights reserved</p>
    <div class="flex flex-row gap-x-3">
        <a href="#about">About Me</a>
        <a href="mailto:contacto.julian.re@gmail.com">Contact</a>
    </div>
</footer>
