---
import Badge from "./Badge.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
---

<img
    class="rounded-full size-16 mb-4"
    src="https://res.cloudinary.com/dhgepdfdf/image/upload/v1709498767/foto_julian_fondo_celeste-modified_gczxr0.jpg"
    alt="Julian photo"
/>
<h1
    class="md:text-5xl text-white text-4xl font-bold pb-4 flex flex-row items-center gap-x-2"
>
    Hey, I'm Julian <Badge>Available for hire</Badge>
</h1>
<h2 class="text-2xl opacity-80 text-wrap">
    +1 year of experience as a <span class="text-yellow-200"
        >Fullstack Web Developer</span
    >. Based in San Nicolas, Argentina. Specialized in best practices and
    exceptional user experiences.
</h2>
<ul class="flex flex-row gap-x-4 mt-4">
    <li>
        <a target="_blank" href="https://www.linkedin.com/in/j-re" aria-label="Link to Julian Re LinkedIn"
            ><LinkedIn class="size-6 text-white" /></a
        >
    </li>
    <li>
        <a target="_blank" href="https://www.github.com/rejulian" aria-label="Link to Julian Re Github"
            ><GitHub class="size-6 text-white" /></a
        >
    </li>
</ul>
